.gallery {
  margin: 8px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: minmax(220px, 260px);
  grid-auto-flow: dense;
}
.gallery__item {
  display: flex;
  position: relative;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item-desc {
  background-color: #fff;
  padding: 4px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-size: 32px;
}
.gallery .horizontal {
  grid-column: span 2;
}
.gallery .vertical {
  grid-row: span 2;
}
.gallery .big {
  grid-column: span 2;
  grid-row: span 2;
}

@media screen and (min-width: 320px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-auto-rows: minmax(100px, 120px);
  }
  .gallery__item-desc {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 4px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 24px;
  }
}