#gBack {
  position: fixed;
  z-index: 100;
  top: 0;
  opacity: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3215686275);
  content: "";
  height: 100vh;
  width: 100vw;
}
#gBack.active {
  display: block;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gBack img, #gBack video {
  position: fixed;
  z-index: 3;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
}

@media screen and (orientation: portrait) {
  #gBack img.horizontal, #gBack video.horizontal {
    transform: rotate(90deg);
    scale: 1.75;
  }
}
@media screen and (min-width: 50px) {
  .gallery {
    position: relative;
    margin: 8px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-auto-rows: minmax(35px, 70px);
    grid-auto-flow: dense;
    transition: all 0.175s ease;
  }
  .gallery__item {
    position: relative;
  }
  .gallery__item .media__container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .gallery__item .media__container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .gallery__item .media__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery__item.horizontal {
    grid-column: span 4;
    grid-row: span 2;
  }
  .gallery__item.vertical {
    grid-column: span 2;
    grid-row: span 4;
  }
  .gallery__item.square {
    grid-column: span 4;
    grid-row: span 4;
  }
  .gallery__item .url, .gallery__item .type {
    display: none;
  }
  .gallery__item-desc {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 4px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) {
  .gallery__item.horizontal {
    grid-column: span 4;
    grid-row: span 2;
  }
  .gallery__item.vertical {
    grid-column: span 2;
    grid-row: span 4;
  }
  .gallery__item.square {
    grid-column: span 2;
    grid-row: span 2;
  }
  .gallery__item.active {
    width: inherit;
    max-width: 100%;
  }
}