.gallery {
  position: relative;
  margin: 8px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: minmax(220px, 260px);
  grid-auto-flow: dense;
  transition: all 0.175s ease;
}
.gallery__item {
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateX(0%);
}
.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item video {
  /* Make video to at least 100% wide and tall */
  min-width: 50%;
  min-height: 50%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: 100%;
  height: 100%;
  /* Center the video */
}
.gallery__item.horizontal {
  grid-column: span 2;
}
.gallery__item.vertical {
  grid-row: span 2;
}
.gallery__item.big {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery__item-desc {
  background-color: #fff;
  padding: 4px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-size: 32px;
}

#gBack {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3215686275);
  content: "";
  height: 100%;
  width: 100%;
}
#gBack.active {
  display: block;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gBack img {
  position: fixed;
  z-index: 3;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
#gBack video {
  position: fixed;
  z-index: 3;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 320px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: minmax(40px, 80px);
  }
  .gallery__item-desc {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 4px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 14px;
    margin-left: -4px;
  }
}
@media screen and (min-width: 321px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-auto-rows: minmax(80px, minmax(1fr, auto));
  }
  .gallery__item-desc {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 4px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 24px;
  }
}
@media screen and (min-width: 769px) {
  .gallery__item.active {
    width: inherit;
    max-width: 100%;
  }
}