.gallery {
	margin: 8px;
	display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-auto-rows: minmax(220px, 260px);
    grid-auto-flow: dense;

	&__item {
		display: flex;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__item-desc {
		background-color: #fff;
		padding: 4px;
		position: absolute;
		bottom: 16px;
		right: 16px;
		font-size: 32px;
	}

	.horizontal {
		grid-column: span 2;
	}
	
	.vertical {
		grid-row: span 2;
	}
	
	.big {
		grid-column: span 2;
		grid-row: span 2;
	}

	
}

@media screen and (max-width: 320px) { // mobile S-
	.gallery {
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		grid-auto-rows: minmax(100px, 120px);
		
		&__item-desc {
			background-color: rgba(255, 255, 255, 0.6);
			padding: 4px;
			position: absolute;
			bottom: 4px;
			right: 4px;
			font-size: 14px;
			margin-left: -4px;
		}
	}
	
}

@media screen and (min-width: 321px) { // mobile L+
	.gallery {
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		grid-auto-rows: minmax(100px, 120px);
		
		&__item-desc {
			background-color: rgba(255, 255, 255, 0.6);
			padding: 4px;
			position: absolute;
			bottom: 16px;
			right: 16px;
			font-size: 24px;
		}
	}
	
}

