@import '_zero.scss';

body{
	background-color: #4158D0;
	background: linear-gradient(72.44deg, #4158D0 -12.72%, #C850C0 24.78%, #FFCC70 125.46%);
    background-size: cover;
	background-position: 50% 25%;
	background-attachment: fixed;

	padding-bottom: 100px;
	margin-bottom: -100px;
}
@media screen and (max-width: 320px) { // mobile S
	// @import 'max320.scss';
	
	// @import 'min321.scss';
	.wrapper {
		height: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, 1fr);
		grid-template-rows: 60px auto 40px;
	}
	
	.Inter-head {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		a{
			color: white;
		}
	}

	#mBack {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		display: none;
		z-index: 2;
		background-color: #00000052;
		content: "";
		height: 100%;
		width: 100%;

		&.active {
			display: block;
			opacity: 1;
		}
	}
	
	header {
		position: relative;
		background-color: #24252B;
		width: 100%;
		padding: 0 8px 0;
	
		.logo {
			position: absolute;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			left: 8px;
			font-size: 32px;
	
			height: 60px;
			width: 144px;
			&__name {
				display: block;
				text-align: end;
			}
			span {
				position: relative;
				z-index: 2;
				transition: all 0.1s ease;
				color: #24252B;
			} &::before, &::after {
				display: block;
				position: absolute;
				content: "";
				top: 0;
				z-index: 1;
				transition: all 0.175s ease;
			} &::before {
				background-color: #FFB800;
				width: 202px;
				height: 100%;
				left: -44px;
			} &::after {
				background-color: #fff;
				width: 8px;
				height: 100%;
				left: 152px;
			} 	
		}

		.burger {
			z-index: 4;
			position: absolute;
			top: 28px;
			right: -8px;
			// height: 40px;
			transform: translate(-50%, -50%);
			width: 50px;
			&::before, &::after, & div{
				background: #fff;
				content: "";
				display: block;
				height: 6px;
				border-radius: 3px;
				margin: 7px 0;
				transition: 0.5s;
			}
			&.active{
				&::before {
					transform: translateY(12px) rotate(135deg);
				}
				&::after {
					transform: translateY(-12px) rotate(-135deg);
				}
				div {
					transform: scale(0);
				}
			}
		}

		nav {
			z-index: 3;
			transition: all 0.175s ease;
			position: fixed;
			display: flex;
			flex-direction: column;
			background: linear-gradient(180deg, #24252A 0%, #412C56 100%);

			right: -152px;

			width: 152px;
			height: 100%;

			gap: 12px;
			&.active {
				right: 0px;
			}


			a {
				&:first-child { margin-top: 60px; }
				margin: 8px;
				position: relative;
				display: block;
				width: max-content;
				span {
					position: relative;
					z-index: 2;
					transition: all 0.1s ease;
				} &::before, &::after {
					display: block;
					position: absolute;
					content: "";
					bottom: 0;
					left: 0;
					z-index: 1;
					transition: all 0.1s ease;
				} &::before {
					background-color: #FFB800;
					width: 100%;
					height: 0%;
				} &::after {
					background-color: #fff;
					width: 100%;
					height: 0px;
				} &.active {
					&::after {
						height: 2px;
					}
				} &:hover {
					&::before {
						height: 100%;
					}
					&::after {
						bottom: 100%;
						height: 4px;
					} span {
						color: #24252B;
					}
				} 

			}
		} 
	}

}
@media screen and (min-width: 321px) { // mobile M
	// @import 'min321.scss';
	.wrapper {
		height: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, 1fr);
		grid-template-rows: 60px auto 40px;
	}
	
	.Inter-head {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		a{
			color: white;
		}
	}
	#mBack {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		display: none;
		z-index: 2;
		background-color: #00000052;
		content: "";
		height: 100%;
		width: 100%;

		&.active {
			display: block;
			opacity: 1;
		}
	}
	header {
		position: relative;
		background-color: #24252B;
		width: 100%;
		padding: 0 8px 0;
	
		.logo {
			position: absolute;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			left: 8px;
			font-size: 32px;
	
			height: 60px;
			width: 144px;
			&__name {
				display: block;
				text-align: end;
			}
			span {
				position: relative;
				z-index: 2;
				transition: all 0.1s ease;
				color: #24252B;
			} &::before, &::after {
				display: block;
				position: absolute;
				content: "";
				top: 0;
				z-index: 1;
				transition: all 0.175s ease;
			} &::before {
				background-color: #FFB800;
				width: 202px;
				height: 100%;
				left: -44px;
			} &::after {
				background-color: #fff;
				width: 8px;
				height: 100%;
				left: 152px;
			} 	
		}

		.burger {
			z-index: 4;
			position: absolute;
			top: 28px;
			right: -8px;
			// height: 40px;
			transform: translate(-50%, -50%);
			width: 50px;
			&::before, &::after, & div{
				background: #fff;
				content: "";
				display: block;
				height: 6px;
				border-radius: 3px;
				margin: 7px 0;
				transition: 0.5s;
			}
			&.active{
				&::before {
					transform: translateY(12px) rotate(135deg);
				}
				&::after {
					transform: translateY(-12px) rotate(-135deg);
				}
				div {
					transform: scale(0);
				}
			}
		}

		nav {
			z-index: 3;
			transition: all 0.175s ease;
			position: fixed;
			display: flex;
			flex-direction: column;
			background: linear-gradient(180deg, #24252A 0%, #412C56 100%);

			right: -152px;

			width: 152px;
			height: 100%;

			gap: 12px;
			&.active {
				right: 0px;
			}


			a {
				&:first-child { margin-top: 60px; }
				margin: 8px;
				position: relative;
				display: block;
				width: max-content;
				span {
					position: relative;
					z-index: 2;
					transition: all 0.1s ease;
				} &::before, &::after {
					display: block;
					position: absolute;
					content: "";
					bottom: 0;
					left: 0;
					z-index: 1;
					transition: all 0.1s ease;
				} &::before {
					background-color: #FFB800;
					width: 100%;
					height: 0%;
				} &::after {
					background-color: #fff;
					width: 100%;
					height: 0px;
				} &.active {
					&::after {
						height: 2px;
					}
				} &:hover {
					&::before {
						height: 100%;
					}
					&::after {
						bottom: 100%;
						height: 4px;
					} span {
						color: #24252B;
					}
				} 

			}
		} 
	}
}
@media screen and (min-width: 376px) { // mobile L
	// @import 'min376.scss';
}
@media screen and (min-width: 426px) { // tablet

	header {

		nav {
			right: -204px;
			width: 204px;		
		} 
	}
}
@media screen and (min-width: 769px) { // laptop
	// @import 'min769.scss';
	.wrapper {
		grid-template-rows: 80px auto 60px;
	}
	
	.Inter-head {
		font-size: 32px;
	}

	#mBack {
		&.active {
			display: none;
			opacity: 0;
		}
	}
	
	header {
		display: flex;
		justify-content: center;
		align-items: center;
	
		.logo {
			height: 100%;
			span {
				display: block;
				justify-content: center;
				align-items: center;
				color: #fff;
			} 
			&::before {
				left: -210px;
			} &::after {
				left: -16px;
			} &:hover {
				&::before {
					left: -20px;
				} &::after {
					left: 176px;
				} span {
					color: #24252B;
				}
			}
		}

		.burger {
			display: none;
		}
	
		nav {
			transition: all 0.175s ease;

			position: static;
			flex-direction: row;
			background: initial;

			width: initial;
			height: initial;

			&::before{
				display: none;
			}
			a {
				&:first-child { margin-top: 8px; }
				&.active {
					&::after {
						height: 4px;
					}
				} 
			} 
		}
	}
}
@media screen and (min-width: 1025px) { // laptop L

}
@media screen and (min-width: 1441px) { // 4K

}


main, footer {
	a {
		position: relative;
		display: block;
		>span {
			position: relative;
			z-index: 2;
			transition: all 0.1s ease;
		} &::before, &::after {
			display: block;
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			z-index: 1;
			transition: all 0.1s ease;
		} &::before {
			background-color: #FFB800;
			width: 100%;
			height: 0%;
		} &::after {
			background-color: #fff;
			width: 100%;
			height: 0px;
		} &.active {
			&::after {
				height: 4px;
			}
		} &:hover {
			&::before {
				height: 100%;
			}
			&::after {
				bottom: 100%;
				height: 4px;
			} span {
				color: #24252B;
			}
		} 
	} 
}

main {
	display: grid;
	grid-template-columns: minmax(192px, 1fr) 11fr;
	grid-template-rows: 1fr;
	.aside {
		background: linear-gradient(180deg, #24252A 0%, #412C56 100%);
	}
	.content {
		grid-column: span 11;
		// background-color: #000;
		width: 100%;
	}
}

footer {
	background-color: #412C56;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 60px;
}

.switch {
	position: relative;
	width: 60px;
	height: 25px;

	#switch1,
	#switch2, 
	#switch3 {
	  position: absolute;
	  z-index:9;
	  
	  & + label {
		&::after {
		  position: absolute;
		  content: "";
		  width: 20px; height: 25px;
		  top: 0; left: 0; z-index: 10;
		}
	  }
	}
	#switch1 {
	  & + label {
		&::after {
		  left: 0;
		}
	  }
	  &:checked {
		& ~ .switch__inner {
		  background-color: red;
		  transition: background-color 200ms ease-in-out;
		  &::after {
			left: 0;
			transition: left 200ms ease-in-out;
		  }
		}
	  }
	}
	#switch2 {
	  & + label {
		&::after {
		  left: 20px;
		}
	  }
	  &:checked {
		& ~ .switch__inner {
		  background-color: #fff;
		  transition: background-color 200ms ease-in-out;
		  &::after {
			left: 20px;
			transition: left 200ms ease-in-out;
		  }
		}
	  }
	}
	#switch3 {
	  & + label {
		&::after {
		  left: 40px;
		}
	  }
	  &:checked {
		& ~ .switch__inner {
		  background-color: green;
		  transition: background-color 200ms ease-in-out;
		  &::after {
			left: 40px;
			transition: left 200ms ease-in-out;
		  }
		}
	  }
	}
  
	&__inner {
	  width: 60px;
	  height: 25px;
	  background-color: #fff;
	  border: solid 1px grey;
	  border-radius: 4px;
	  
	  &::after {
		position: absolute;
		display: block;
		content:"";
		width: 20px; height: 25px;
		top: 0; left: 0;
		background-color: #eee;
		border: solid 1px grey;
		border-radius: 4px;
		transition: left 200ms ease-in-out;
	  }
	}
  }